PROJECT_NAME=Outreach CRM API
API_V1_STR=

POSTGRES_USER=practice
POSTGRES_PASSWORD=practice_pwd
POSTGRES_DB=practice_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Optional: if set, this value overrides POSTGRES_* variables
# DATABASE_URL=postgresql+psycopg2://practice:practice_pwd@localhost:5432/practice_db
